/* CSS Reset ============================================ */

@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');

/* Base element styles ============================================ */

* {
  box-sizing: border-box;
}
body {
  font: 16px 'Open Sans', sans-serif;
  background: #1e272e;
  color: #1e272e;
}
h1,
h2 {
  margin: 0;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
input {
  border: none;
  font-size: 0.95em;
  background: #808e9b;
  color: #d2dae2;
}
input:focus {
  outline: 0;
}
::placeholder {
  color: #d2dae2;
}

/* Base layout styles ============================================ */

.app-header {
  padding: 1em 0;
  text-align: center;
  background: #d2dae2;
  margin-bottom: 20px;
}

/* Page element styles ============================================ */

.app-title {
  font: 500 3.75em 'Bangers', sans-serif;
  letter-spacing: 1px;
  color: #575fcf;
}
.app-lead {
  font-size: 1.1em;
  font-weight: 500;
  color: #1e272e;
  font-style: italic;
  margin: -4px 0 30px;
}
.task-field {
  box-shadow: 0 1px 1px rgba(0,0,0,0.25), 
              0 2px 2px rgba(0,0,0,0.20), 
              0 4px 4px rgba(0,0,0,0.15), 
              0 8px 8px rgba(0,0,0,0.10),
              0 16px 16px rgba(0,0,0,0.05);
  padding: 6px 10px;
  height: 35px;
  border-radius: 4px;
  padding-right: 100px;
  width: 95%;
}
.to-do-list {
  background: #d2dae2;
  padding: 0 10px;
}
.task {
  background: #d2dae2;
  padding: 5px 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid;
}
.task:last-child {
  border-bottom: none;
}
.task:hover .delete {
  opacity: 1;
}
.task-name {
  font: 1.5em 'Bangers', sans-serif;
  letter-spacing: 1px;
}

/* Media Queries ============================================ */

@media (min-width: 768px) {
  .app {
    width: 90%;
    margin: 30px auto;
  }
  .app-header,
  .to-do-list {
    border-radius: 4px;
  }
}

@media (min-width: 1024px) {
  .app {
    width: 80%;
    max-width: 720px;
  }
}

/* Helper classes ============================================ */

.btn {
  -webkit-appearance: none;
  border: none;
  outline: none;
  cursor: pointer;
  color: white;
  text-transform: uppercase;
  font-size: .8em;
  font-weight: 500;
  border-radius: 4px;
  height: 35px;
  transition: background .5s;
}
.add {
  background: #485460;
  margin-left: -70px;
  border-radius: 0 4px 4px 0;
  box-sizing: content-box;
}
.add:hover {
  background: #90e77e;
}
.delete {
  background: #f53b57;
  padding: 5px 8px;
  height: auto;
  font-weight: 600;
  border-radius: 100px;
  opacity: 0;
  transition: opacity .5s ease;
}
.delete:hover {
  background: #1e272e;
}

.checkbox-container {
  font: 1.3em 'Bangers', sans-serif;
  letter-spacing: 1px;
  display: block;
  position: relative;
  padding: 3px 0 0 35px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 100px;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
  background-color: #90e77e;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* Keyframes ============================================ */

@keyframes strike {
  0%   { width: 0%; }
  100% { width: 100%; }
}
.strike {
  position: relative;
}
.strike::after {
  content: ' ';
  position: absolute;
  top: 50%;
  left: 30px;
  width: 90%;
  height: 3px;
  background: black;
  animation: .5s cubic-bezier(0,.6,0,.88) 0s 1 forwards strike;
}